# --- BẮT BUỘC (Dữ liệu & Model) ---
data/
weights/
*.pth
*.onnx

# --- Python & Môi trường ---
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Cấu hình Editor ---
.vscode/
.idea/
.env

# --- File Log & Debug ---
*.log
debug_keys.py  

# --- Rác Hệ Điều Hành (Nên thêm) ---
.DS_Store      # Rác của Mac
Thumbs.db      # Rác của Windows (File xem trước ảnh)
desktop.ini    # Rác cấu hình folder Windows